<div id="nested" class="row">
  <div id="nestedDemo" class="list-group col nested-sortable">
    <div class="list-group-item nested-1" draggable="true" >
      Item 1.1
      <div class="list-group nested-sortable"draggable="true">
        <div class="list-group-item nested-2"draggable="true">Item 2.1</div>
        <div class="list-group-item nested-2"draggable="true">
          Item 2.2
          <div class="list-group nested-sortable"draggable="true">
            <div class="list-group-item nested-3"draggable="true">Item 3.1</div>
            <div class="list-group-item nested-3"draggable="true">Item 3.2</div>
            <div class="list-group-item nested-3"draggable="true">Item 3.3</div>
            <div class="list-group-item nested-3"draggable="true">Item 3.4</div>
          </div>
        </div>
        <div class="list-group-item nested-2"draggable="true">Item 2.3</div>
        <div class="list-group-item nested-2"draggable="true">Item 2.4</div>
      </div>
    </div>
    <div class="list-group-item nested-1"draggable="true">Item 1.2</div>
    <div class="list-group-item nested-1"draggable="true">Item 1.3</div>
    <div class="list-group-item nested-1"draggable="true">
      Item 1.4
      <div class="list-group nested-sortable"draggable="true">
        <div class="list-group-item nested-2"draggable="true">Item 2.1</div>
        <div class="list-group-item nested-2"draggable="true">Item 2.2</div>
        <div class="list-group-item nested-2"draggable="true">Item 2.3</div>
        <div class="list-group-item nested-2"draggable="true">Item 2.4</div>
      </div>
    </div>
    <div class="list-group-item nested-1"draggable="true">Item 1.5</div>
  </div>
</div>
